<?xml version="1.0" encoding="utf-8"?>
<Media Key="d31e135a-36f9-4836-a179-899d42b20128" Alias="01-freedombird.svg" Level="2">
  <Info>
    <Parent Key="0843fda0-f175-436a-8995-21747c956aea">Partners</Parent>
    <Path>/Partners/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:19:06</CreateDate>
    <NodeName Default="01-freedombird.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vcxlympc/01-freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>