<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ebc3fc0-69c1-47d8-a36d-d76593a2c4a9" Alias="02-identity.svg" Level="2">
  <Info>
    <Parent Key="0843fda0-f175-436a-8995-21747c956aea">Partners</Parent>
    <Path>/Partners/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:19:06</CreateDate>
    <NodeName Default="02-identity.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gkbb25g0/02-identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>