<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbf10e79-2660-496d-9a97-b721cb1fd929" Alias="03-natural.svg" Level="2">
  <Info>
    <Parent Key="0843fda0-f175-436a-8995-21747c956aea">Partners</Parent>
    <Path>/Partners/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:19:06</CreateDate>
    <NodeName Default="03-natural.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rozfgwl1/03-natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>