<?xml version="1.0" encoding="utf-8"?>
<Media Key="eace2d50-3037-4a25-b630-06834308e6dc" Alias="04-simpleaf.svg" Level="2">
  <Info>
    <Parent Key="0843fda0-f175-436a-8995-21747c956aea">Partners</Parent>
    <Path>/Partners/simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:19:06</CreateDate>
    <NodeName Default="04-simpleaf.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ukigycbm/04-simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>