<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1e07df2-22b0-49e1-995a-7d7d1643e692" Alias="05-globe.svg" Level="2">
  <Info>
    <Parent Key="0843fda0-f175-436a-8995-21747c956aea">Partners</Parent>
    <Path>/Partners/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:19:06</CreateDate>
    <NodeName Default="05-globe.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/adaeee3l/05-globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>