<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d88b572-4f98-4887-b866-ebf15ceef944" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="998fd1f1-718f-497d-90be-fc763c87a3b4">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:57:30</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qaecvp2d/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>