<?xml version="1.0" encoding="utf-8"?>
<Media Key="94bf333a-af34-41c1-8092-532508059ee4" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="998fd1f1-718f-497d-90be-fc763c87a3b4">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:57:30</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zchb03rp/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>