<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8bbd3e5-92c9-4610-bcec-a6246b20a817" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="952752c1-0f8c-44a0-8954-68b7cdf5d569">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:50:21</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c3xbskws/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>