<?xml version="1.0" encoding="utf-8"?>
<Media Key="11b36fb0-5366-46de-936d-9ea96cd0c9e6" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="952752c1-0f8c-44a0-8954-68b7cdf5d569">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:50:20</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iljbd213/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>