<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2ff16c8-8076-4b71-9d35-57e15cfa5eca" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T15:38:09</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hkvf0udn/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>