<?xml version="1.0" encoding="utf-8"?>
<Media Key="d08e871c-71fa-41b0-9c1b-c10f656bab02" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="998fd1f1-718f-497d-90be-fc763c87a3b4">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:57:29</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3y3cymxb/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>