<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca46e9ac-966b-4908-81f1-9e5055a63ceb" Alias="Contact Info Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T17:09:53</CreateDate>
    <NodeName Default="Contact Info Image.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lzkoikdq/contact-info-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>