<?xml version="1.0" encoding="utf-8"?>
<Media Key="712c4b57-b6f3-44ac-ba82-cf25941b8503" Alias="home_hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home_herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T16:27:17</CreateDate>
    <NodeName Default="home_hero.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ux1i3e5i/home_hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>