<?xml version="1.0" encoding="utf-8"?>
<Media Key="b02cc920-8cb5-402f-b6d4-dbc1f37c3486" Alias="Investment-Planning.png" Level="2">
  <Info>
    <Parent Key="952752c1-0f8c-44a0-8954-68b7cdf5d569">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/InvestmentPlanningpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T15:18:58</CreateDate>
    <NodeName Default="Investment-Planning.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v2bhubw2/investment-planning.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>