<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f061875-5c98-42fd-8ff4-21208926b699" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T12:58:52</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q4sljxmd/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>