<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e70d241-fe0e-40d3-ab8e-07024fa1e910" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="998fd1f1-718f-497d-90be-fc763c87a3b4">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:57:30</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wnxne5av/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>