<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0cb64b3-06bb-47ae-a9d4-64a6e8c2af74" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="998fd1f1-718f-497d-90be-fc763c87a3b4">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:57:29</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihmhsmva/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>