<?xml version="1.0" encoding="utf-8"?>
<Media Key="0843fda0-f175-436a-8995-21747c956aea" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T11:18:46</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>