<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ae34487-ff28-4f78-9b0b-54c14c13f8c0" Alias="Payroll-HR-Consulting.png" Level="2">
  <Info>
    <Parent Key="952752c1-0f8c-44a0-8954-68b7cdf5d569">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/PayrollHRConsultingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T15:18:57</CreateDate>
    <NodeName Default="Payroll-HR-Consulting.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bchkldcb/payroll-hr-consulting.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>