<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfc68d32-5e3a-48e2-b40d-b4d8c655179c" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="952752c1-0f8c-44a0-8954-68b7cdf5d569">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:50:20</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yaygiljb/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>