<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a9c2102-8bbb-41b1-844b-73e603895c4e" Alias="service-detail-image.svg" Level="2">
  <Info>
    <Parent Key="952752c1-0f8c-44a0-8954-68b7cdf5d569">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/serviceDetailImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:36:07</CreateDate>
    <NodeName Default="service-detail-image.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4cod3cfa/service-detail-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>