<?xml version="1.0" encoding="utf-8"?>
<Media Key="952752c1-0f8c-44a0-8954-68b7cdf5d569" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T15:50:07</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>