<?xml version="1.0" encoding="utf-8"?>
<Media Key="145ceebc-64cb-40ca-9d2c-a40c6da5dcac" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:04:28</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzjp33wq/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>