<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb17c418-2e14-4dd9-9135-351dbe97ff1a" Alias="success.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T16:43:52</CreateDate>
    <NodeName Default="success.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3j2lkwip/success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>