<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b306edf-05d9-4ede-8f0d-433774f6ad67" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="952752c1-0f8c-44a0-8954-68b7cdf5d569">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:50:20</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fxjje0oc/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>