<?xml version="1.0" encoding="utf-8"?>
<Media Key="478783c6-1ace-4311-8135-c28c147e7195" Alias="tina-fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T09:29:38</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gq5cljov/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>