<?xml version="1.0" encoding="utf-8"?>
<Media Key="11a46949-906f-4c91-8dd5-1e9e5d172962" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="998fd1f1-718f-497d-90be-fc763c87a3b4">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T11:57:29</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xpkan21u/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>