<?xml version="1.0" encoding="utf-8"?>
<Media Key="51c12511-8535-43e0-859b-39c87bd9bc57" Alias="trusted.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trustedsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:24:28</CreateDate>
    <NodeName Default="trusted.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2omghmzo/trusted.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>