<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="773b7140-8ed1-4f58-954c-e96121399bf4" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3adcde3b-8eb5-4b06-a999-1dd9ca38d035" SortOrder="0">callbackRequest</ContentType>
    <ContentType Key="57ba081d-df84-4f5b-b018-f336b60aec5b" SortOrder="1">emailRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>