<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f0e7293-503b-481b-811e-fce448e2476a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4d5a5ccc-e0e5-4622-9dff-e9854294d44e">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d956895a-330b-4251-8915-bc21a864d163" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="26819344-2876-44ec-a082-392118971f69" SortOrder="1">contactPage</ContentType>
    <ContentType Key="e6cba139-0dc1-43de-a4fa-cfd9660d16de" SortOrder="2">servicePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>