<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc84f2ca-cc5d-4499-a8a8-73c01add6ab8" Alias="partnerSection" Level="3">
  <Info>
    <Name>Partner Section</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sections/Partners</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5f975c82-91f0-40b6-80c1-01d56191ff65</Key>
      <Name>Partners</Name>
      <Alias>partners</Alias>
      <Definition>fc0c2242-17d5-4625-a57c-7f5401046bd9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a07324f2-6a2b-4b4a-920b-250177cbb18e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>