<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d4408ed-8b5f-4838-9bc1-a8c5d2da14ef" Alias="2025-11-10 12:54 - Morgan Johansson" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MorganJohansson</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-10T12:54:09</CreateDate>
    <NodeName Default="2025-11-10 12:54 - Morgan Johansson" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Fråga mig?]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>