<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d51efc2-c716-4fdf-8937-0d50e9597b24" Alias="2025-11-09 19:11 - morgan@domain.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/morganDomaincom</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-09T19:11:13</CreateDate>
    <NodeName Default="2025-11-09 19:11 - morgan@domain.com" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[morgan@domain.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>