<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6384dd2-5c27-4801-a156-8e3593bf90aa" Alias="2025-11-09 19:46 - morgan.johansson@me.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/morganjohanssonMecom</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-09T19:46:42</CreateDate>
    <NodeName Default="2025-11-09 19:46 - morgan.johansson@me.com" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>