<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d49ed16-d250-4e00-858a-ed1ebb29aed4" Alias="2025-11-10 13:06 - Morgan Johansson (1)" Level="2">
  <Info>
    <Parent Key="c5c12f6f-6572-4b74-b0bd-61562fcd479a">Form Submissions</Parent>
    <Path>/FormSubmissions/MorganJohansson1</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-10T13:06:46</CreateDate>
    <NodeName Default="2025-11-10 13:06 - Morgan Johansson (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Fråga till dig?]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>