<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3c806a5-fe30-41bd-9a9a-42df726c829a" Alias="2025-11-10 12:46 - Morgan Johansson" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MorganJohansson</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-10T12:46:54</CreateDate>
    <NodeName Default="2025-11-10 12:46 - Morgan Johansson" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Submittar jag detta och enbart detta med enter?]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>