<?xml version="1.0" encoding="utf-8"?>
<Content Key="f29b5295-278a-42da-8516-2da861b8261a" Alias="2025-11-10 13:06 - Morgan Johansson" Level="2">
  <Info>
    <Parent Key="c5c12f6f-6572-4b74-b0bd-61562fcd479a">Form Submissions</Parent>
    <Path>/FormSubmissions/MorganJohansson</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T13:06:17</CreateDate>
    <NodeName Default="2025-11-10 13:06 - Morgan Johansson" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761484329]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>