<?xml version="1.0" encoding="utf-8"?>
<Content Key="5494553c-fd6b-42f7-855d-d9a58ac0ec09" Alias="2025-11-10 13:06 - morgan.johansson@me.com" Level="2">
  <Info>
    <Parent Key="c5c12f6f-6572-4b74-b0bd-61562fcd479a">Form Submissions</Parent>
    <Path>/FormSubmissions/morganjohanssonMecom</Path>
    <Trashed>false</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-10T13:06:26</CreateDate>
    <NodeName Default="2025-11-10 13:06 - morgan.johansson@me.com" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>