<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e0d7190-f7fe-4ca6-ad2f-1ef208b65dd0" Alias="2025-11-09 19:11 - Morgan Johansson (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MorganJohansson1</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-09T19:11:44</CreateDate>
    <NodeName Default="2025-11-09 19:11 - Morgan Johansson (1)" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761484329]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>