<?xml version="1.0" encoding="utf-8"?>
<Content Key="675bcc8e-d0a3-4354-afe0-ef9937ebcf64" Alias="2025-11-09 19:47 - Morgan Johansson" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MorganJohansson</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-09T19:47:14</CreateDate>
    <NodeName Default="2025-11-09 19:47 - Morgan Johansson" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761484329]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>