<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cf59eac-08f1-45a8-9f16-6d22758c5534" Alias="2025-11-10 13:05 - Morgan Johansson" Level="2">
  <Info>
    <Parent Key="c5c12f6f-6572-4b74-b0bd-61562fcd479a">Form Submissions</Parent>
    <Path>/FormSubmissions/MorganJohansson</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T13:05:44</CreateDate>
    <NodeName Default="2025-11-10 13:05 - Morgan Johansson" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761484329]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>