<?xml version="1.0" encoding="utf-8"?>
<Content Key="efd55163-912e-4fff-8056-c676aeb40c3e" Alias="2025-11-06 09:09 - Morgan Johansson" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/MorganJohansson</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T09:09:55</CreateDate>
    <NodeName Default="2025-11-06 09:09 - Morgan Johansson" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Morgan Johansson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761484329]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>