<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6ec9956-5d8b-43f5-b2c1-fd46de91109e" Alias="2025-11-10 13:02 - morgan.johansson@me.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/morganjohanssonMecom</Path>
    <Trashed Parent="da2370f8-b1b8-49e9-af4b-03b47dba4798">true</Trashed>
    <ContentType>emailRequest</ContentType>
    <CreateDate>2025-11-10T13:02:00</CreateDate>
    <NodeName Default="2025-11-10 13:02 - morgan.johansson@me.com" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <emailRequestEmail>
      <Value><![CDATA[morgan.johansson@me.com]]></Value>
    </emailRequestEmail>
  </Properties>
</Content>