<?xml version="1.0" encoding="utf-8"?>
<Content Key="7946e5d5-a004-48c6-9ad7-55a30cc1580c" Alias="About" Level="2">
  <Info>
    <Parent Key="1c7e1361-0dad-4f7e-b5a7-d58f67a10b21">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-27T12:53:27</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1194b27f-74ee-4085-b09d-8a813ea23263">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
  </Properties>
</Content>