<?xml version="1.0" encoding="utf-8"?>
<Content Key="7946e5d5-a004-48c6-9ad7-55a30cc1580c" Alias="About" Level="2">
  <Info>
    <Parent Key="1c7e1361-0dad-4f7e-b5a7-d58f67a10b21">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-27T12:53:27</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1194b27f-74ee-4085-b09d-8a813ea23263">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3da74ab5-bd83-4893-b7a9-66748818faf4",
      "key": "c50cf411-fe91-42dd-8466-3da07b0750b5",
      "udi": null,
      "values": [
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EA team of professionals\u003Cbr\u003Ewith years of experience\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
                "key": "1ed61065-26c6-47a0-ad6b-32db12b5e4d6",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f3c7f966-2f5f-4d4d-a877-bed0615df0c5",
                        "mediaKey": "9e70d241-fe0e-40d3-ab8e-07024fa1e910",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  }
                ]
              },
              {
                "contentTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
                "key": "d7f7550a-ae15-4a33-b768-c65f39a98126",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "54398506-cc92-4d15-9fc8-ce8ceb7262f3",
                        "mediaKey": "d0cb64b3-06bb-47ae-a9d4-64a6e8c2af74",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
                "key": "714858e5-0943-4f81-9284-494a380723eb",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "17ca4169-e450-4dc8-9f4c-1c0236871fe4",
                        "mediaKey": "d08e871c-71fa-41b0-9c1b-c10f656bab02",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
                "key": "bebf1fca-5883-408b-a9e0-2478113f2b9b",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9669214f-e49c-4cf6-864e-07a5a87317e8",
                        "mediaKey": "11a46949-906f-4c91-8dd5-1e9e5d172962",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
                "key": "d81339bc-6868-4c13-bc98-222adcd94a00",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ab44c575-0918-46e9-8f5e-96255a628222",
                        "mediaKey": "5d88b572-4f98-4887-b866-ebf15ceef944",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
                "key": "59cfb274-05a4-41cc-9184-f362ac5c6e15",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f1f1b255-b1d8-4bac-bf26-fb90c0af397a",
                        "mediaKey": "94bf333a-af34-41c1-8092-532508059ee4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
                "key": "60c2175a-51e9-4f7f-8228-b315ec9ee7bf",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b1a9e946-f061-4b32-82e3-6396a6b6cb69",
                        "mediaKey": "f28e8864-1112-4471-96f9-3b3f4bedffc7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "1ed61065-26c6-47a0-ad6b-32db12b5e4d6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d7f7550a-ae15-4a33-b768-c65f39a98126",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "714858e5-0943-4f81-9284-494a380723eb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bebf1fca-5883-408b-a9e0-2478113f2b9b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d81339bc-6868-4c13-bc98-222adcd94a00",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "59cfb274-05a4-41cc-9184-f362ac5c6e15",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "60c2175a-51e9-4f7f-8228-b315ec9ee7bf",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "60c2175a-51e9-4f7f-8228-b315ec9ee7bf",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "59cfb274-05a4-41cc-9184-f362ac5c6e15",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d81339bc-6868-4c13-bc98-222adcd94a00",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bebf1fca-5883-408b-a9e0-2478113f2b9b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "714858e5-0943-4f81-9284-494a380723eb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d7f7550a-ae15-4a33-b768-c65f39a98126",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1ed61065-26c6-47a0-ad6b-32db12b5e4d6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "c3a84f35-ef91-4161-82d5-954d1a29de94",
      "key": "7f15ae97-73aa-43af-b144-c195761d3af9",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "62b712c0-34f5-46de-88a9-9f1a7c981564",
              "mediaKey": "ca46e9ac-966b-4908-81f1-9e5055a63ceb",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3c115c23-f673-4b15-8426-6b0c12391bc4",
      "key": "6d6ac5d7-7c87-4b11-898f-54048da804f3",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c50cf411-fe91-42dd-8466-3da07b0750b5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7f15ae97-73aa-43af-b144-c195761d3af9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c50cf411-fe91-42dd-8466-3da07b0750b5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7f15ae97-73aa-43af-b144-c195761d3af9",
        "contentUdi": null,
        "settingsKey": "6d6ac5d7-7c87-4b11-898f-54048da804f3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>