<?xml version="1.0" encoding="utf-8"?>
<Content Key="852856ab-45bf-4e5c-a057-fb426f6018f9" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="1fb1fe25-ef86-48f4-8344-9eba1bda08b9">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:23:11</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa178e0-dceb-492c-ab89-00ec576f6f39">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3a84f35-ef91-4161-82d5-954d1a29de94",
      "key": "ee783ce4-f9bf-415e-b88a-da5be68c1303",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "48b66a45-eb67-486b-9944-b951f0ebef88",
              "mediaKey": "ca46e9ac-966b-4908-81f1-9e5055a63ceb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        }
      ]
    },
    {
      "contentTypeKey": "508107ea-306e-4281-9a81-8bdd8f2a0ee4",
      "key": "4683aa42-911c-4f11-824b-754562554bd4",
      "udi": null,
      "values": [
        {
          "alias": "questionFormSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question ?"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3c115c23-f673-4b15-8426-6b0c12391bc4",
      "key": "4cd1f0b0-7101-4843-b2a8-e712cd6e3356",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ee783ce4-f9bf-415e-b88a-da5be68c1303",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4683aa42-911c-4f11-824b-754562554bd4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4683aa42-911c-4f11-824b-754562554bd4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ee783ce4-f9bf-415e-b88a-da5be68c1303",
        "contentUdi": null,
        "settingsKey": "4cd1f0b0-7101-4843-b2a8-e712cd6e3356",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3f8e09d8-6c2a-4e3b-ac4a-c03c696755be",
      "key": "f6e8189c-70f9-460b-8632-306a72fafb2f",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f3af7d1e-f94e-4a1c-baf4-d842b035c629",
              "mediaKey": "ec2d1bc8-d3f2-4dca-894b-33da9c29a385",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    },
    {
      "contentTypeKey": "07f9cb09-1d39-4226-b5ef-30629cf78686",
      "key": "4330d03f-e1b0-4fed-984c-a516fdf7fff0",
      "udi": null,
      "values": [
        {
          "alias": "emailFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "emailFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f6e8189c-70f9-460b-8632-306a72fafb2f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4330d03f-e1b0-4fed-984c-a516fdf7fff0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f6e8189c-70f9-460b-8632-306a72fafb2f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4330d03f-e1b0-4fed-984c-a516fdf7fff0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "bd4579d4-d0b8-4e92-96e7-2621668cbbb5",
    "mediaKey": "c8bbd3e5-92c9-4610-bcec-a6246b20a817",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>