<?xml version="1.0" encoding="utf-8"?>
<Content Key="37cae4c7-437b-473a-98d7-5ef78e1eb5c2" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="1fb1fe25-ef86-48f4-8344-9eba1bda08b9">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:24:02</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa178e0-dceb-492c-ab89-00ec576f6f39">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "121a3674-1392-4a35-a140-4db110811cd1",
      "key": "69203fe7-3932-4e37-8b8c-ec083ad701e6",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e3916a94-fc0e-4951-b542-fb52d0486ce2",
              "mediaKey": "ec2d1bc8-d3f2-4dca-894b-33da9c29a385",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "69203fe7-3932-4e37-8b8c-ec083ad701e6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "69203fe7-3932-4e37-8b8c-ec083ad701e6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "47c9d6af-5f06-46ea-80a8-5d73ae513fd8",
    "mediaKey": "11b36fb0-5366-46de-936d-9ea96cd0c9e6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>