<?xml version="1.0" encoding="utf-8"?>
<Content Key="0abf8c34-f17b-4012-8935-f1bdcd70fc76" Alias="Contact" Level="2">
  <Info>
    <Parent Key="1c7e1361-0dad-4f7e-b5a7-d58f67a10b21">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T12:53:57</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d6f803c9-edf3-4add-89b4-0c6308c7b5cc">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3a84f35-ef91-4161-82d5-954d1a29de94",
      "key": "d4cdabc6-5345-442d-9296-9340f1d0be23",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7fb3ff43-27b0-40bd-8cff-4d31ccebbb6f",
              "mediaKey": "ca46e9ac-966b-4908-81f1-9e5055a63ceb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": " Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3c115c23-f673-4b15-8426-6b0c12391bc4",
      "key": "09fc4d2c-01be-4099-b15d-d805d4c7ea19",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d4cdabc6-5345-442d-9296-9340f1d0be23",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d4cdabc6-5345-442d-9296-9340f1d0be23",
        "contentUdi": null,
        "settingsKey": "09fc4d2c-01be-4099-b15d-d805d4c7ea19",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>