<?xml version="1.0" encoding="utf-8"?>
<Content Key="0abf8c34-f17b-4012-8935-f1bdcd70fc76" Alias="Contact" Level="2">
  <Info>
    <Parent Key="1c7e1361-0dad-4f7e-b5a7-d58f67a10b21">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T12:53:57</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d6f803c9-edf3-4add-89b4-0c6308c7b5cc">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3a84f35-ef91-4161-82d5-954d1a29de94",
      "key": "7e743d77-b98f-44c7-8a73-2415f85040d3",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e631d89e-d3c5-4f77-a0ef-d02db6e7717d",
              "mediaKey": "ca46e9ac-966b-4908-81f1-9e5055a63ceb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    },
    {
      "contentTypeKey": "fc84f2ca-cc5d-4499-a8a8-73c01add6ab8",
      "key": "5f8db55e-2e35-4314-aa14-b7acb9687776",
      "udi": null,
      "values": [
        {
          "alias": "partners",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4e698a7d-d9a7-4528-a1a8-d0b17f8813e0",
                "key": "99f37574-75fe-4f48-98bd-8c723a537e0d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d3149cd6-7acf-4a49-b2cf-b19b4bbabfd0",
                        "mediaKey": "d31e135a-36f9-4836-a179-899d42b20128",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedombird"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "4e698a7d-d9a7-4528-a1a8-d0b17f8813e0",
                "key": "25e2e7cd-a1f4-4928-aa77-7cb31ff4066c",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "72e86d99-cc06-4c91-b21d-f75572ba7392",
                        "mediaKey": "9ebc3fc0-69c1-47d8-a36d-d76593a2c4a9",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "4e698a7d-d9a7-4528-a1a8-d0b17f8813e0",
                "key": "31742014-762b-4384-99c5-cbd6fe66fc6e",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c6eee8fc-7ffb-4a97-b4f9-b9496fb1ac7a",
                        "mediaKey": "bbf10e79-2660-496d-9a97-b721cb1fd929",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "4e698a7d-d9a7-4528-a1a8-d0b17f8813e0",
                "key": "a62ca64b-f40f-4730-a1dd-160dd9c6d466",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f20fa69d-507f-4990-8973-aa373a62e8d2",
                        "mediaKey": "eace2d50-3037-4a25-b630-06834308e6dc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "4e698a7d-d9a7-4528-a1a8-d0b17f8813e0",
                "key": "d3b68e04-041a-409e-ad0f-d2dfad0eacb1",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c836cd9d-344e-4ff0-b273-bdb966032f44",
                        "mediaKey": "f1e07df2-22b0-49e1-995a-7d7d1643e692",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "partnerLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "4e698a7d-d9a7-4528-a1a8-d0b17f8813e0",
                "key": "cf8b2c3b-59ba-49f5-af23-3b87693954f5",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "402b66dc-e205-4ee2-a3e0-9e7af6be47eb",
                        "mediaKey": "99c2fa65-143c-41c2-8f77-b6be168e27f5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil Group"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "99f37574-75fe-4f48-98bd-8c723a537e0d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "25e2e7cd-a1f4-4928-aa77-7cb31ff4066c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "31742014-762b-4384-99c5-cbd6fe66fc6e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a62ca64b-f40f-4730-a1dd-160dd9c6d466",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d3b68e04-041a-409e-ad0f-d2dfad0eacb1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cf8b2c3b-59ba-49f5-af23-3b87693954f5",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "99f37574-75fe-4f48-98bd-8c723a537e0d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "25e2e7cd-a1f4-4928-aa77-7cb31ff4066c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "31742014-762b-4384-99c5-cbd6fe66fc6e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a62ca64b-f40f-4730-a1dd-160dd9c6d466",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d3b68e04-041a-409e-ad0f-d2dfad0eacb1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cf8b2c3b-59ba-49f5-af23-3b87693954f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3c115c23-f673-4b15-8426-6b0c12391bc4",
      "key": "df75b285-3350-474a-bc34-a8c549a45b4b",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "7e743d77-b98f-44c7-8a73-2415f85040d3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5f8db55e-2e35-4314-aa14-b7acb9687776",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7e743d77-b98f-44c7-8a73-2415f85040d3",
        "contentUdi": null,
        "settingsKey": "df75b285-3350-474a-bc34-a8c549a45b4b",
        "settingsUdi": null
      },
      {
        "contentKey": "5f8db55e-2e35-4314-aa14-b7acb9687776",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>