<?xml version="1.0" encoding="utf-8"?>
<Content Key="0abf8c34-f17b-4012-8935-f1bdcd70fc76" Alias="Contact" Level="2">
  <Info>
    <Parent Key="1c7e1361-0dad-4f7e-b5a7-d58f67a10b21">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T12:53:57</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d6f803c9-edf3-4add-89b4-0c6308c7b5cc">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>