<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c7e1361-0dad-4f7e-b5a7-d58f67a10b21" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-27T12:48:04</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4d5a5ccc-e0e5-4622-9dff-e9854294d44e">HomePage</Template>
  </Info>
  <Properties />
</Content>