<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e28f8b3-a7f7-4239-b524-09ac24a4695a" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="1fb1fe25-ef86-48f4-8344-9eba1bda08b9">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:24:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa178e0-dceb-492c-ab89-00ec576f6f39">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3a84f35-ef91-4161-82d5-954d1a29de94",
      "key": "67b10332-7084-4dd4-b71d-f30a88c31b40",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e2d10dcc-58bb-44d3-a662-85186b0c40dc",
              "mediaKey": "ca46e9ac-966b-4908-81f1-9e5055a63ceb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    },
    {
      "contentTypeKey": "508107ea-306e-4281-9a81-8bdd8f2a0ee4",
      "key": "717aa4eb-e433-4209-9620-0af72b78e4c5",
      "udi": null,
      "values": [
        {
          "alias": "questionFormSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question ?"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3c115c23-f673-4b15-8426-6b0c12391bc4",
      "key": "9e5ee0e2-2a2f-4598-808f-1cdd31c6cd18",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "67b10332-7084-4dd4-b71d-f30a88c31b40",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "717aa4eb-e433-4209-9620-0af72b78e4c5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "717aa4eb-e433-4209-9620-0af72b78e4c5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "67b10332-7084-4dd4-b71d-f30a88c31b40",
        "contentUdi": null,
        "settingsKey": "9e5ee0e2-2a2f-4598-808f-1cdd31c6cd18",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3f8e09d8-6c2a-4e3b-ac4a-c03c696755be",
      "key": "8e1293d3-f506-43a2-80ec-c9f62ef55fd6",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2c76aa8d-2c35-4f0e-8e89-432747088b85",
              "mediaKey": "ec2d1bc8-d3f2-4dca-894b-33da9c29a385",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    },
    {
      "contentTypeKey": "07f9cb09-1d39-4226-b5ef-30629cf78686",
      "key": "3c180584-94e0-4b54-b4e9-d1b487a1a8fe",
      "udi": null,
      "values": [
        {
          "alias": "emailFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "emailFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8e1293d3-f506-43a2-80ec-c9f62ef55fd6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3c180584-94e0-4b54-b4e9-d1b487a1a8fe",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8e1293d3-f506-43a2-80ec-c9f62ef55fd6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3c180584-94e0-4b54-b4e9-d1b487a1a8fe",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "f5a5f6a0-6811-46cb-9f6d-5f8aa00d9d45",
    "mediaKey": "cfc68d32-5e3a-48e2-b40d-b4d8c655179c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>