<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fb1fe25-ef86-48f4-8344-9eba1bda08b9" Alias="Services" Level="2">
  <Info>
    <Parent Key="1c7e1361-0dad-4f7e-b5a7-d58f67a10b21">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-27T12:53:45</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5c2c92e3-c6c1-44c0-b8b8-3eb9a4517660">ServicePage</Template>
  </Info>
  <Properties />
</Content>