<?xml version="1.0" encoding="utf-8"?>
<Content Key="6fee9750-37a2-4bc9-b99a-708d6cdc73c2" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="1fb1fe25-ef86-48f4-8344-9eba1bda08b9">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T15:58:49</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa178e0-dceb-492c-ab89-00ec576f6f39">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3a84f35-ef91-4161-82d5-954d1a29de94",
      "key": "22d875e6-fca8-40dd-a856-4d53b272f61c",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "27115f8e-b4e2-49b9-bf45-ee7b9a6ddd7e",
              "mediaKey": "ca46e9ac-966b-4908-81f1-9e5055a63ceb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3c115c23-f673-4b15-8426-6b0c12391bc4",
      "key": "4787cf9c-a30f-4251-be2a-60a30854db9a",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "22d875e6-fca8-40dd-a856-4d53b272f61c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "22d875e6-fca8-40dd-a856-4d53b272f61c",
        "contentUdi": null,
        "settingsKey": "4787cf9c-a30f-4251-be2a-60a30854db9a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3f8e09d8-6c2a-4e3b-ac4a-c03c696755be",
      "key": "e453ca15-5a3d-40c4-8b8b-fe79057da67b",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6189babe-670d-434d-8048-9cadd47c0698",
              "mediaKey": "ec2d1bc8-d3f2-4dca-894b-33da9c29a385",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    },
    {
      "contentTypeKey": "07f9cb09-1d39-4226-b5ef-30629cf78686",
      "key": "19df78a7-53f3-4f3f-b233-3a702908a41a",
      "udi": null,
      "values": [
        {
          "alias": "emailFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "emailFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e453ca15-5a3d-40c4-8b8b-fe79057da67b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19df78a7-53f3-4f3f-b233-3a702908a41a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e453ca15-5a3d-40c4-8b8b-fe79057da67b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "19df78a7-53f3-4f3f-b233-3a702908a41a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "5981d621-aa60-49de-9bce-d8061558ea9e",
    "mediaKey": "ec2d1bc8-d3f2-4dca-894b-33da9c29a385",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>