<?xml version="1.0" encoding="utf-8"?>
<Content Key="21601feb-5a3c-495a-8fd0-ad88445e4ea5" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="1fb1fe25-ef86-48f4-8344-9eba1bda08b9">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-28T16:22:02</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fa178e0-dceb-492c-ab89-00ec576f6f39">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c3a84f35-ef91-4161-82d5-954d1a29de94",
      "key": "8da90230-a196-43ed-97eb-ae17a77886cc",
      "udi": null,
      "values": [
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c8b26576-617b-4177-b7f9-ece836fbfd79",
              "mediaKey": "ca46e9ac-966b-4908-81f1-9e5055a63ceb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        }
      ]
    },
    {
      "contentTypeKey": "508107ea-306e-4281-9a81-8bdd8f2a0ee4",
      "key": "325445a9-5b15-4c95-a948-04f2017dcc21",
      "udi": null,
      "values": [
        {
          "alias": "questionFormSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Have a question ?"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3c115c23-f673-4b15-8426-6b0c12391bc4",
      "key": "9c5944b9-00b3-4b6e-a37b-cf2df3e6fd3e",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8da90230-a196-43ed-97eb-ae17a77886cc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "325445a9-5b15-4c95-a948-04f2017dcc21",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "325445a9-5b15-4c95-a948-04f2017dcc21",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8da90230-a196-43ed-97eb-ae17a77886cc",
        "contentUdi": null,
        "settingsKey": "9c5944b9-00b3-4b6e-a37b-cf2df3e6fd3e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3f8e09d8-6c2a-4e3b-ac4a-c03c696755be",
      "key": "1c456077-110d-4a6f-889a-6b5e7fb9a4dc",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "88aae30f-ca12-4fd6-825b-cfcc7c90cb58",
              "mediaKey": "ec2d1bc8-d3f2-4dca-894b-33da9c29a385",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    },
    {
      "contentTypeKey": "07f9cb09-1d39-4226-b5ef-30629cf78686",
      "key": "5a74f005-8d68-43cc-b678-2b17f04159ac",
      "udi": null,
      "values": [
        {
          "alias": "emailFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "emailFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1c456077-110d-4a6f-889a-6b5e7fb9a4dc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5a74f005-8d68-43cc-b678-2b17f04159ac",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1c456077-110d-4a6f-889a-6b5e7fb9a4dc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5a74f005-8d68-43cc-b678-2b17f04159ac",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9598348e-b863-4ca1-8a9e-c48325cf3724",
    "mediaKey": "8b306edf-05d9-4ede-8f0d-433774f6ad67",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>