@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Onatrix.ViewModels
@{
    var content = (ContentModels.QuestionFormSection)Model.Content;
    var formViewModel = new QuestionFormViewModel();

    var title = content.QuestionFormSectionTitle;
}

<section class="py-[3rem] md:py-[4rem]">
    <div class="max-w-7xl mx-auto px-[2rem] flex flex-col gap-6">
        @if (!string.IsNullOrWhiteSpace(title))
        {
            <p class="text-[1.5625rem] text-primary font-bold">@title</p>
        }

        <partial name="Partials/Forms/_QuestionForm" model="formViewModel" />

        @if (TempData["QuestionFormSuccess"] != null)
        {
            <div class="bg-green-50 text-green-700 p-4 mx-[2rem] mb-4 rounded-md">
                @TempData["QuestionFormSuccess"]
            </div>
        }
        else if (TempData["QuestionFormError"] != null)
        {
            <div class="bg-red-50 text-red-700 p-4 mx-[2rem] mb-4 rounded-md">
                @TempData["QuestionFormError"]
            </div>
        }

    </div>
</section>