@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamSection)Model.Content;
    var teamList = content.TeamMemberList;
}

<section class="py-[2rem] md:py-[4rem] bg-neutral">
    <div class="max-w-7xl mx-auto px-[3rem]">
        <div class="flex flex-col items-center">
            <h2 class="text-[.875rem] text-secondary font-bold uppercase">@content.TeamLabel</h2>
            <div class="rte">@Html.Raw(@content.TeamTitle)</div>
        </div>

        <div class="hidden md:flex flex-wrap gap-y-5 pt-5 pb-5 -mx-2">
            @if (teamList != null)
            {
                for (var i = 0; i < teamList.Count; i++)
                {
                    var member = teamList[i];
                    var colClass = i < 3 ? "w-1/3" : "w-1/4";

                    <div class="@colClass px-2">
                        <partial name="Partials/Blocklist/Components/TeamMember" model="member" />
                    </div>
                }
            }
        </div>

        <div class="mt-[2rem] md:hidden">
            <div class="swiper team-swiper !-mx-[3rem]">
                <div class="swiper-wrapper">
                    @if (teamList != null)
                    {
                        foreach (var member in teamList)
                        {
                            <div class="swiper-slide">
                                <partial name="Partials/Blocklist/Components/TeamMember" model="member" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</section>