<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc0c2242-17d5-4625-a57c-7f5401046bd9" Alias="Partner Section - Block List" Level="1">
  <Info>
    <Name>Partner Section - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4e698a7d-d9a7-4528-a1a8-d0b17f8813e0",
      "label": "{umbValue: partnerName}"
    }
  ],
  "validationLimit": {
    "max": 6
  }
}]]></Config>
</DataType>