<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eca38112-5ab5-474c-a3ed-603514d3cd52" Alias="Service Detail Aside - List" Level="1">
  <Info>
    <Name>Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "07f9cb09-1d39-4226-b5ef-30629cf78686"
    },
    {
      "contentElementTypeKey": "3f8e09d8-6c2a-4e3b-ac4a-c03c696755be"
    }
  ]
}]]></Config>
</DataType>