<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eca38112-5ab5-474c-a3ed-603514d3cd52" Alias="Service Detail Aside - List" Level="1">
  <Info>
    <Name>Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "121a3674-1392-4a35-a140-4db110811cd1"
    }
  ]
}]]></Config>
</DataType>