<?xml version="1.0" encoding="utf-8"?>
<DataType Key="234eff0d-bb1b-4450-9414-5280588692a3" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4c328bfd-68b6-4e79-a09c-8238e61f2284",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>