<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e1d6a6-7576-46bf-a65d-6b9c1f79cecf" Alias="Success Stats List" Level="1">
  <Info>
    <Name>Success Stats List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "df91ffe8-3123-48a5-a5b9-29d557f775cc",
      "label": "{umbValue: statValue}"
    }
  ],
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>