<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8baf29fc-1e0c-45b1-9fe9-b00dda9af335" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "407ff9d6-3520-40ad-9326-a07e808c2215",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>