<?xml version="1.0" encoding="utf-8"?>
<DataType Key="486622f5-d6ad-4446-9a4a-09aa1bf65f0d" Alias="Testimonial Section - Testimonial Rating - Slider Property Editor UI" Level="1">
  <Info>
    <Name>Testimonial Section - Testimonial Rating - Slider Property Editor UI</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 5,
  "minVal": 1,
  "step": 1
}]]></Config>
</DataType>